<!DOCTYPE html>
<html style="font-size: 16px;" lang="ru" xmlns:th="http://www.thymeleaf.org"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Upload your music</title>
    <link rel="stylesheet" th:href="@{/css/nicepage.css}" media="screen">
    <link rel="stylesheet" th:href="@{/css/Upload_Content.css}" media="screen">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
  </head>
  <body class="u-body u-xl-mode"><header class="u-clearfix u-header u-header" id="sec-4b12"><div class="u-clearfix u-sheet u-sheet-1">
        <a th:href="@{/room}" class="u-image u-logo u-image-1" data-image-width="1920" data-image-height="1920">
          <img th:src="@{/images/Pngtreecrutches_5410990.png}" class="u-logo-image u-logo-image-1">
        </a>
    <a class="u-login u-login-1" th:text="${session.username}"></a>
    <a class="u-login u-login-1" th:href="@{/logout}">Logout</a>
      </div></header>
    <section class="u-align-center u-clearfix u-section-1" id="sec-bfcf">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-custom-font u-text u-text-default u-text-1">SPOTIFY&nbsp;<br>
        </h2>
        <div class="u-form u-form-1">

          <form th:action="@{/download}" method="POST" class="u-clearfix u-form-horizontal u-form-spacing-15 u-inner-form" style="padding: 15px;" source="email">
            <div class="u-form-group u-form-name u-label-none">
              <label for="name-ef64" class="u-label">playlist / album url</label>
              <input type="text" placeholder="playlist / album url" id="name-ef64" name="url" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-37" required="">
            </div>
            <div class="u-form-group u-form-submit">
              <input type="submit" value="Submit" class="u-btn u-btn-round u-btn-submit u-button-style u-radius-33">
            </div>
          </form>


        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-section-2" id="sec-ef0c">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-default u-text-1">YOUTUBE&nbsp;<br>
        </h2>
        <div class="u-form u-form-1">

          <form th:action="@{/downloadFromYtPlaylist}" method="POST" class="u-clearfix u-form-horizontal u-form-spacing-15 u-inner-form" style="padding: 15px;" source="email">
            <div class="u-form-group u-form-name u-label-none">
              <label for="name-ef64" class="u-label">playlist url</label>
              <input type="text" placeholder="playlist url" id="name-ef64" name="url" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-37" required="">
            </div>
            <div class="u-form-group u-form-submit">
              <input type="submit" value="Submit" class="u-btn u-btn-round u-btn-submit u-button-style u-radius-33">
            </div>
          </form>
        </div>
      </div>
    </section>


  <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-6226"><div class="u-clearfix u-sheet u-sheet-1">
    <p class="u-small-text u-text u-text-variant u-text-1">dev by&nbsp;<a href="https://github.com/Bykwarb">https://github.com/Bykwarb</a><br>
      <br>
    </p>
  </div>
  </footer>

</body></html>