<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <link rel="stylesheet" th:href="@{/css/sign.css}">
</head>
<body style="font-family: Roboto" onload='document.email.focus()'>
    <div class="main">
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img th:src="@{/images/signin-image.webp}" alt="sing up image"></figure>
                        <a th:href="@{registration}" class="signup-image-link">Create an account</a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Sign in</h2>
                        <form method="POST" class="register-form" id="login-form">
                            <div class="form-group">
                                <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="email" name="email" id="your_name" placeholder="Your email"/>
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="password" id="your_pass" placeholder="Password"/>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" onclick="ValidateEmail(document.email)" value="Log in"/>
                            </div>
                        </form>
                        <p th:text="${message}"></p>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="jquery.min.js"></script>
    <script src="sign.js"></script>
</body>
</html>